html {
  font-size: 20px;
}
h1{letter-spacing: 1.2em;
  font-size: 2rem;
  border-bottom: solid 3px rgb(185, 185, 185);
  text-shadow: 3px 3px 3px rgb(199, 199, 199);
  text-align: center;
}

.google-fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

  body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
  }
  
p {

  color: black;

}
#parent p {
  font-weight: bold;
}



.decoration1 {
  color: skyblue;
}


.decoration2 {
  color: rgb(255, 192, 203);
}
